nav.toggled {
	.menu-item-has-children {
		display: flex;
		flex-wrap: wrap;

		span.dropdown-menu-toggle {
			display: none;
		}

		button.dropdown-menu-toggle {
			display: block;
			height: auto;
			margin-left: auto;

			&.toggled-on {
				& + .sub-menu {
					position: relative;
					top: 0;
					width: 100%;
					pointer-events: auto;
					transform: scale(1);
					opacity: 1;
					display: block;
					visibility: visible;
					left: auto;
					right: auto;
				}

				& > .gp-icon svg {
					transform: rotate(180deg);
				}
			}
		}
	}
}

.menu-item-has-children {
	button.dropdown-menu-toggle {
		display: none;
		background-color: transparent;
	}

	ul button.dropdown-menu-toggle {
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.main-navigation.toggled li button.dropdown-menu-toggle.toggled-on:not(.has-svg-icon):before {
	content: "\f106" !important;
}

#site-navigation .slideout-toggle {
	display: none;
}
