.footer-widgets {
	padding: 40px;
}

.site-info {
	text-align: center;
	padding: 20px;
	font-size: 15px;
}

.site-footer .footer-widgets-container .inner-padding {
	padding: 0px 0px 0px 40px;
}

.site-footer .footer-widgets-container .inside-footer-widgets {
	margin-left: -40px;
}

/*--------------------------------------------------------------
## Footer Bar
--------------------------------------------------------------*/

.footer-bar-active .footer-bar .widget {
	padding: 0;
}

.footer-bar .widget_nav_menu > div > ul {
	display: inline-block;
	vertical-align: top;
}

.footer-bar .textwidget p:last-child {
	margin: 0;
}

.footer-bar-align-right .copyright-bar {
	float: left;
}

.footer-bar-align-right .footer-bar,
.footer-bar-align-left .copyright-bar {
	float: right;
	text-align: right;
}

.footer-bar-align-left .footer-bar {
	float: left;
	text-align: left;
}

.footer-bar-align-center .copyright-bar {
	float: none;
	text-align: center;
}

.footer-bar-align-center .footer-bar {
	float: none;
	text-align: center;
	margin-bottom: 10px;
}

.footer-bar .widget-title {
	display: none;
}

.footer-bar .widget_nav_menu li {
	margin: 0 10px;
	float: left;
	padding: 0;
}

.footer-bar .widget_nav_menu li:first-child {
	margin-left: 0;
}

.footer-bar .widget_nav_menu li:last-child {
	margin-right: 0;
}

.footer-bar .widget_nav_menu li ul {
	display: none;
}

/*--------------------------------------------------------------
## Back to Top Button
--------------------------------------------------------------*/

.generate-back-to-top,
.generate-back-to-top:visited {
	font-size: 20px;
	border-radius: 3px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	z-index: 10;
	transition: opacity 300ms ease-in-out;
}

.generate-back-to-top .screen-reader-text {
	left: 0;
	margin: 0;
}
