.inside-header {
	display: flex;
	align-items: center;
}

.header-widget {
	margin-left: auto;

	p:last-child {
		margin-bottom: 0;
	}
}

.nav-float-right {
	.header-widget {
		margin-left: 20px;
	}

	#site-navigation {
		margin-left: auto;
	}
}

.nav-float-left {
	#site-navigation {
		margin-right: auto;
		order: -10;
	}

	.header-widget {
		margin-left: 0;
		margin-right: 20px;
		order: -15;
	}
}

.header-aligned-center:not([class*="nav-float-"]) {
	.inside-header {
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.header-widget {
		margin-left: auto;
		margin-right: auto;
	}

	.inside-header > *:not(:first-child) {
		margin-top: 1em;
	}
}

.header-aligned-right {
	&:not([class*="nav-float-"]) .inside-header {
		justify-content: flex-end;
	}

	&:not([class*="nav-float-"]) .header-widget {
		margin-right: auto;
		margin-left: 0;
		order: -10;
	}
}

.site-branding-container {
	display: inline-flex;
	align-items: center;
	text-align: left;
	flex-shrink: 0;

	.site-logo {
		margin-right: 1em;
	}
}
