.top-bar {
	font-weight: normal;
	text-transform: none;
	font-size: 13px;

	.inside-top-bar {
		.widget {
			padding: 0;
			display: inline-block;
			margin: 0;
		}

		.textwidget p:last-child {
			margin: 0;
		}
	}

	.widget-title {
		display: none;
	}

	.widget_nav_menu {
		li {
			margin: 0 10px;
			float: left;
			padding: 0;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			ul {
				display: none;
			}
		}

		& > div > ul {
			display: inline-block;
			vertical-align: top;
		}
	}
}

.inside-top-bar {
	padding: 10px 40px;
}

.top-bar-align-center {
	text-align: center;

	.inside-top-bar {
		.widget:not(:first-child) {
			margin-left: 10px;
		}

		.widget:first-child:last-child {
			display: block
		}
	}
}

.top-bar-align-right {
	text-align: right;

	.inside-top-bar {
		& >.widget:nth-child(even) {
			float: left;
			margin-right: 10px;
		}

		& >.widget:nth-child(odd) {
			margin-left: 10px;
		}
	}
}

.top-bar-align-left {
	.inside-top-bar {
		& > .widget:nth-child(odd) {
			float: left;
			margin-right: 10px;
		}

		& >.widget:nth-child(even) {
			margin-left: 10px;
			float: right;
		}
	}
}
