.generate-customize-control-title {
	display: flex;
	justify-content: space-between;

	button.generate-customize-control-title--label {
		font-size: 14px;
		font-weight: 500;
		padding: 0;
		height: auto;
	}

	button.generate-customize-control-title--toggle {
		svg {
			width: 1em;
			height: 1em;
		}
	}

	h3 {
		font-size: 14px !important;
		font-weight: 500;
		margin-bottom: 0;
	}
}
