.generate-component-color-picker {
	.components-color-picker {
		box-sizing: border-box;
	}

	.components-color-picker__inputs-wrapper {
		display: none;
	}

	.react-colorful {
		width: 100% !important;

		.react-colorful__saturation {
			height: 150px;
		}

		.react-colorful__hue,
		.react-colorful__alpha {
			width: calc(100% - 40px);
		}

		& + div {
			display: none;
		}
	}

	.generate-color-input-wrapper {
		display: flex;
		padding: 0;

		.generate-color-input {
			flex-grow: 1;
		}

		.components-color-clear-color {
			margin-left: 5px;
		}

		input {
			margin-right: 5px;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}
	}

	& > .components-base-control:first-child {
		margin-bottom: 0;
	}

	.components-color-picker__inputs-wrapper {
		min-width: auto;
	}

    .generate-component-color-picker-palette {
        padding: 16px 0 0;

		.components-circular-option-picker {
		    display: flex;
		    flex-wrap: wrap;

			.components-circular-option-picker__swatches {
				display: flex;
				flex-wrap: wrap;
				gap: 6px;

				.components-circular-option-picker__option-wrapper {
					margin: 0;
				}
			}
		}
    }

	.components-color-palette {
        margin: 0;
    }

	.components-color-picker {
		padding: 5px;
		width: 100%;
	}

	.components-color-picker__body {
	    padding-bottom: 0;
	}

	.components-popover__content {
		padding: 10px;
		width: 295px;
		box-sizing: border-box;
	}

	.components-color-clear-color {
		height: auto;
	}

	.components-circular-option-picker__option.is-pressed + svg {
		fill: #fff;
		background: #000;
		transform: scale(0.6);
	}
}

.generate-component-color-picker[data-x-axis=left] {
	.components-popover__content {
		margin-right: -35px !important;
	}
}

.generate-customize-control-wrapper {
	display: flex;

	&.generate-customize-color-control-wrapper {
		& > div:first-child {
			flex-grow: 1;
		}

		& > div:not(:last-child) {
			margin-right: 5px;
		}
	}
}


.generate-component-color-picker-wrapper {
    > .components-base-control__field {
		position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .components-color-palette__item-wrapper {
            margin: 0;
        }
	}
}

.generate-component-color-picker-palette,
.generate-color-picker-area {
	button {
		width: 28px;
		height: 28px;
		position: relative;

		&:hover {
			background-color: inherit;
		}

		&:focus:after {
			width: 28px;
			height: 28px;
		}
	}
}

.generate-customize-control--popover {
	.components-color-picker {
		box-sizing: border-box;
	}

	.components-color-picker__inputs-wrapper {
		display: none;
	}

	& > .components-base-control:first-child {
		margin-bottom: 0;
	}

	.components-color-picker__inputs-wrapper {
		min-width: auto;
	}

	.components-color-picker {
		padding: 5px;
	}

	.components-color-picker__body {
	    padding-bottom: 0;
	}

	.components-color-clear-color {
		height: auto;
	}
}

.generate-component-color-picker[data-x-axis=left] {
	.components-popover__content {
		margin-right: -35px !important;
	}
}

.generate-color-input--icon {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    border: 1px solid currentColor;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

	svg {
		height: 1em;
		width: 1em;
		transform: scale(1.3);
	}
}

.generate-color-option-area {
    padding: 16px 16px 0;
}

.generate-color-input--css-var-name-wrapper {
    position: relative;

	button {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0 8px;
		min-height: 30px;
		height: auto;

		svg {
			width: 1em;
			height: 1em;
			fill: none;
		}
	}
}
