.generate-customize-control-wrapper[data-wrapper-type="google-font"] {
    flex-wrap: wrap;

	&.generate-is-google-font {
		background: #fff;
		padding: 10px;
		border: 1px solid #ddd;

		.components-base-control__field {
			margin-bottom: 0;
		}

		& #body_font_google--wrapper {
			margin-bottom: 10px;
		}
	}

	&:not(.generate-is-google-font) {
		& > div:not(:first-child) {
			display: none;
		}
	}

	& > div {
		flex-basis: 50%;

		&#body_font_google--wrapper {
			flex-basis: 100%;
		}

		&#body_font_category--wrapper {
			flex-basis: calc(35% - 10px);
			margin-right: 10px;
		}

		&#body_font_variants--wrapper {
			flex-basis: 65%;
		}
	}
}
