button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #55555e;
	color: #fff;
	border: 1px solid transparent;
	cursor: pointer;
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	padding: 10px 20px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
select {
	border: 1px solid;
	border-radius: 0;
	padding: 10px 15px;
	max-width: 100%;
}

textarea {
	width: 100%;
}
