button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid transparent;
	cursor: pointer;
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	padding: 10px 20px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
select {
	border: 1px solid;
	border-radius: 0;
	padding: 10px 15px;
	max-width: 100%;
}

textarea {
	width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
a.wp-block-button__link:not(.has-background) {
	color: var(--gp-button-text-color);
	background-color: var(--gp-button-background-color);

	&:hover,
	&:focus,
	&:active {
		color: var(--gp-button-text-color-hover);
		background-color: var(--gp-button-background-color-hover);
	}
}
