.gp-icon {
	display: inline-flex;
	align-self: center;

	svg {
		height: 1em;
		width: 1em;
		top: .125em;
		position: relative;
		fill: currentColor;
	}
}

.icon-menu-bars svg:nth-child(2),
.toggled .icon-menu-bars svg:nth-child(1),
.icon-search svg:nth-child(2),
.close-search .icon-search svg:nth-child(1) {
	display: none;
}

.toggled .icon-menu-bars svg:nth-child(2),
.close-search .icon-search svg:nth-child(2) {
	display: block;
}

.entry-meta .gp-icon {
	margin-right: 0.6em;
	opacity: 0.7;
}

.dropdown-hover {
	.sub-menu .dropdown-menu-toggle .gp-icon svg,
	.children .dropdown-menu-toggle .gp-icon svg,
	&.both-left .inside-right-sidebar .dropdown-menu-toggle .gp-icon svg,
	.inside-left-sidebar .dropdown-menu-toggle .gp-icon svg {
		transform: rotate(-90deg);
		transform-origin: center;
	}
}

.nav-next .gp-icon svg {
	transform: rotate(-90deg);
	transform-origin: center;
}

.dropdown-hover {
	.sub-menu-left:not(.toggled) ul ul .dropdown-menu-toggle .gp-icon svg,
	&.both-right .inside-left-sidebar .dropdown-menu-toggle .gp-icon svg,
	.inside-right-sidebar .dropdown-menu-toggle .gp-icon svg {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

.nav-previous .gp-icon svg {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.dropdown-click .sfHover > a > .dropdown-menu-toggle > .gp-icon svg,
nav.toggled .sfHover > a > .dropdown-menu-toggle > .gp-icon svg,
.generate-back-to-top .gp-icon svg {
	transform: rotate(180deg);
}

nav.toggled .sub-menu .dropdown-menu-toggle .gp-icon svg {
    transform: rotate(0deg);
}
