a,
button,
input {
	transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.button,
.wp-block-button .wp-block-button__link {
	padding: 10px 20px;
	display: inline-block;
}

.wp-block-button .wp-block-button__link {
	font-size: inherit;
	line-height: inherit;
}

.using-mouse {
	:focus {
		outline: 0;
	}

	::-moz-focus-inner {
		border: 0;
	}
}
