.generate-font-manager--item {
    margin-bottom: 10px;

	.generate-font-manager--header {
		display: flex;
		align-items: center;

		.generate-font-manager--label {
			flex-grow: 1;
			padding-left: 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.components-button:not(.generate-font-manager--label) {
			background: #fff;
			border: 1px solid #777;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			min-width: 30px;
			margin-left: 5px;
			border-radius: 100%;
			flex-shrink: 0;

			svg {
				margin-right: 0;
				width: 1em;
				height: 1em;
			}

			&.generate-font-manager--open {
				svg {
					fill: none;
				}
			}
		}
	}

	.generate-font-manager--options {
		margin-top: 15px;
	}

	.generate-font-manager--footer {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #ddd;
	}

	.generate-font-manager-google-font--field {
		margin-top: 10px;
	}

	.generate-font-manager--google-font-options {
		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;

		& > div {
			flex-basis: calc(50% - 10px);
			margin-bottom: 0;

			&:nth-child(even) {
				margin-left: 5px;
			}

			&:nth-child(odd) {
				margin-right: 5px;
			}
		}

		.components-base-control__field {
			margin-bottom: 0 !important;
		}
	}

	.generate-font-manager--select-options {
		display: flex;
		flex-wrap: wrap;

		& > div {
			flex-basis: calc(50% - 5px);

			&:nth-child(even) {
				margin-left: 5px;
			}

			&:nth-child(odd) {
				margin-right: 5px;
			}
		}
	}

	.components-select-control__input--generate-fontfamily {
		margin-bottom: 3px;
	}

	.generate-advanced-select__menu {
		position: relative !important;
	}
}

.generate-font-manager-group {
	margin-top: 10px;
    margin-bottom: 20px;

	&__label {
		margin-top: 0;
		color: #000;
		text-transform: uppercase;
		font-size: 11px;
		margin-bottom: 10px;
	}

	.generate-font-manager--item:last-child {
		margin-bottom: 0;
	}
}

.generate-customize-control--font-dropdown {
    background: #fff;
    padding: 15px;
    margin-top: 10px;
    position: relative;

	&:before {
		content: "";
		position: absolute;
		left: 11px;
		top: -10px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #fff transparent;
		z-index: 10;
	}

	& > .components-base-control:not(:last-child) {
		margin-bottom: 15px;
	}

	& > .components-base-control:last-child .components-base-control__field {
		margin-bottom: 0;
	}
}
