.generate-font-manager--item {

	.generate-font-manager--header {
		display: flex;
	    align-items: center;

		.generate-font-manager--label {
			flex-grow: 1;
			padding-left: 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

	  	.generate-font-manager--drag-handle {
		    cursor: move;
		  	margin-top: 5px;
		  	padding: 4px;

		    svg {
			    margin-right: 0;
			    width: 1em;
			    height: 1em;
		    }
		}
	}

	.components-button:not(.generate-font-manager--label) {
		background: #fff;
		border: 1px solid #777;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
		margin-left: 5px;
		border-radius: 100%;
		flex-shrink: 0;

		svg {
			margin-right: 0;
			width: 1em;
			height: 1em;
		}

		&.generate-font-manager--open {
			svg {
				fill: none;
			}
		}
	}
}

.sortable-item-wrapper {
  margin-bottom: 10px;
  border: 1px dashed transparent;
}

.sortable-chosen {
  	&.sortable-ghost.sortable-item-wrapper {
	    border-color: #c3c4c7;
	}

  	&.sortable-ghost .sortable-item-content {
	    opacity: 0;
	}
}

.sortable-drag {
    .sortable-item-content {
	    opacity: 1 !important;
    }
}

.generate-customize-control--font-popover {
	.generate-font-manager--options {
		margin-top: 15px;
	}

	.generate-font-manager--footer {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #ddd;
	}

	.generate-font-manager-google-font--field {
		margin-top: 10px;
	}

	.generate-font-manager--google-font-options {
		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;

		& > div {
			flex-basis: calc(50% - 10px);
			margin-bottom: 0;

			&:nth-child(even) {
				margin-left: 5px;
			}

			&:nth-child(odd) {
				margin-right: 5px;
			}
		}

		.components-base-control__field {
			margin-bottom: 0 !important;
		}
	}

	.generate-font-manager--select-options {
		display: flex;
		flex-wrap: wrap;

		& > div {
			flex-basis: calc(50% - 5px);

			&:nth-child(even) {
				margin-left: 5px;
			}

			&:nth-child(odd) {
				margin-right: 5px;
			}
		}
	}

	.components-select-control__input--generate-fontfamily {
		margin-bottom: 3px;
	}
}
