.editor-styles-wrapper {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: normal;
	text-transform: none;
	font-size: 17px;
	line-height: 1.5;
}

.editor-styles-wrapper p {
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 1.5em;
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6 {
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper .editor-post-title__input {
	font-family: inherit;
	font-size: 42px;
	margin-bottom: 20px;
	margin-top: 0;
	line-height: 1.2em;
	font-weight: normal;
	text-transform: none;
}

.editor-styles-wrapper h2 {
	font-family: inherit;
	font-size: 35px;
	margin-bottom: 20px;
	margin-top: 0;
	line-height: 1.2em;
	font-weight: normal;
	text-transform: none;
}

.editor-styles-wrapper h3 {
	font-family: inherit;
	font-size: 29px;
	margin-bottom: 20px;
	margin-top: 0;
	line-height: 1.2em;
	font-weight: normal;
	text-transform: none;
}

.editor-styles-wrapper h4 {
	font-size: 24px;
}

.editor-styles-wrapper h5 {
	font-size: 20px;
}

.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	font-family: inherit;
	margin-bottom: 20px;
	margin-top: 0;
}
