body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: normal;
	text-transform: none;
	font-size: 17px;
	line-height: 1.5;
}

body p {
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 1.5em;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
}

body h1,
body .editor-post-title__input {
	font-family: inherit;
	font-size: 42px;
	margin-bottom: 20px;
	margin-top: 0;
	line-height: 1.2em;
	font-weight: normal;
	text-transform: none;
}

body h2 {
	font-family: inherit;
	font-size: 35px;
	margin-bottom: 20px;
	margin-top: 0;
	line-height: 1.2em;
	font-weight: normal;
	text-transform: none;
}

body h3 {
	font-family: inherit;
	font-size: 29px;
	margin-bottom: 20px;
	margin-top: 0;
	line-height: 1.2em;
	font-weight: normal;
	text-transform: none;
}

body h4 {
	font-size: 24px;
}

body h5 {
	font-size: 20px;
}

body h4,
body h5,
body h6 {
	font-family: inherit;
	margin-bottom: 20px;
	margin-top: 0;
}
