.generatepress-dashboard {
	max-width: 1000px;
	margin: 40px auto;
	font-size: 15px;

	h2 {
		font-size: 25px;
	}
}

.generatepress-start-customizing {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    color: #555;

	&__item {
		padding: 30px;
		background: #fff;
		margin-left: 30px;
		margin-bottom: 30px;
		width: calc(33.333% - 30px);
		box-sizing: border-box;
		box-shadow: 0 0 2px rgb(0 0 0 / 10%);
	}

	&__icon {
		color: white;
		background: #1e72bd;
		height: 50px;
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		margin-bottom: 25px;
	}

	&__title {
		font-weight: 500;
		margin-bottom: 1em;
	}

	&__description {
		margin-bottom: 1em;
		font-weight: 300;
		line-height: 1.5em;
	}

	&__action {
		margin-top: auto;
	}

	&__pro {
		font-size: 11px;
		background: #f0544f;
		padding: 0 5px;
		display: inline-block;
		margin-left: 5px;
		color: #fff;
		border-radius: 2px;
	}
}
