.generate-font-picker {

  &__control {
    margin-bottom: 12px;
  }

  &__value-container {
    padding: 0 6px!important;

    & > div {
      padding: 0;
      margin: 0;
    }
  }

  &__input {
    input[type="text"]:focus {
      box-shadow: none;
    }
  }
}
