.generate-component-color-picker-wrapper {
    > .components-base-control__field {
		position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .components-color-palette__item-wrapper {
            margin: 0;

			.components-circular-option-picker__option:focus::after {
				display: none;
			}
        }
	}
}

.generate-component-color-picker {
	.components-color-picker {
		box-sizing: border-box;
	}

	.components-color-picker__inputs-wrapper {
		display: none;
	}

	.generate-color-input-wrapper {
		display: flex;
		padding: 16px 16px 0;

		.generate-color-input {
			flex-grow: 1;
			margin-right: 5px;
		}

		input {
			margin-right: 5px;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}
	}

	& > .components-base-control:first-child {
		margin-bottom: 0;
	}

	.components-color-picker__inputs-wrapper {
		min-width: auto;
	}

    .generate-component-color-picker-palette {
        padding: 16px 16px 0;

		.components-circular-option-picker {
		    display: flex;
		    flex-wrap: wrap;

			.components-circular-option-picker__option-wrapper {
				margin: 0 8px 8px 0;
			}
		}
    }

	.components-color-palette {
        margin: 0;
    }

	.components-color-picker {
		padding: 5px;
	}

	.components-color-picker__body {
	    padding-bottom: 0;
	}

	.components-popover__content {
		padding: 10px;
		width: 295px;
		box-sizing: border-box;
	}

	.components-color-clear-color {
		height: auto;
	}
}

.generate-component-color-picker[data-x-axis=left] {
	.components-popover__content {
		margin-right: -35px !important;
	}
}

.generate-component-color-opacity {
    display: flex;
	padding: 0 16px;
	margin: 10px 0;

	.components-range-control {
	    flex-grow: 1;
	    padding-left: 5px;
	}
}
