/*--------------------------------------------------------------
## One Container
--------------------------------------------------------------*/

.one-container {
	&.both-left .inside-left-sidebar,
	&.both-right .inside-left-sidebar {
		margin-right: $element-padding / 2;
	}

	&.both-left .inside-right-sidebar,
	&.both-right .inside-right-sidebar {
		margin-left: $element-padding / 2;
	}

	&:not(.page):not(.single) .inside-article {
		padding: 0 0 30px 0;
	}

	&.right-sidebar .site-main,
	&.both-right .site-main {
		margin-right: $element-padding;
	}

	&.left-sidebar .site-main,
	&.both-left .site-main {
		margin-left: $element-padding;
	}

	&.both-sidebars .site-main {
		margin: 0px $element-padding 0px $element-padding;
	}

	.site-content {
		padding: $element-padding;
	}
}

.separate-containers .site-main > *:last-child,
.one-container .site-main > *:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
## Separate Containers
--------------------------------------------------------------*/

.separate-containers {
	.inside-article,
	.comments-area,
	.page-header,
	.paging-navigation {
		padding: $element-padding;
	}

	.widget,
	.site-main > *,
	.page-header {
		margin-bottom: $separating-space;
	}

	.site-main {
		margin: $separating-space;
	}

	&.no-sidebar .site-main {
		margin-left: 0;
		margin-right: 0;
	}

	&.right-sidebar .site-main,
	&.both-right .site-main {
		margin-left: 0;
	}

	&.left-sidebar .site-main,
	&.both-left .site-main {
		margin-right: 0;
	}

	&.both-right .inside-left-sidebar,
	&.both-left .inside-left-sidebar {
		margin-right: $separating-space / 2;
	}

	&.both-right .inside-right-sidebar,
	&.both-left .inside-right-sidebar {
		margin-left: $separating-space / 2;
	}

	.inside-right-sidebar,
	.inside-left-sidebar {
		margin-top: $separating-space;
		margin-bottom: $separating-space;
	}
}

.inside-page-header,
.wp-block-group__inner-container {
	padding: $element-padding;
}

.widget-area .main-navigation {
	margin-bottom: $separating-space;
}

/*--------------------------------------------------------------
## Full Width Content
--------------------------------------------------------------*/

.full-width-content {
	.container.grid-container {
		max-width: 100%;
	}

	&.no-sidebar.separate-containers .site-main {
		margin: 0;
	}

	&.separate-containers .inside-article,
	&.one-container .site-content {
		padding: 0;
	}

	.entry-content .alignwide,
	.entry-content .alignfull {
		margin-left: 0;
		width: auto;
		max-width: unset;
	}
}

/*--------------------------------------------------------------
## Contained Content
--------------------------------------------------------------*/

.contained-content {
	&.separate-containers .inside-article,
	&.one-container .site-content {
		padding: 0;
	}
}
