.post-image:not(:first-child) {
	margin-top: 2em;
}

.featured-image {
	line-height: 0; /* no more weird spacing */
}

.separate-containers {
	.featured-image {
		margin-top: $separating-space;
	}

	.inside-article > .featured-image {
		margin-top: 0;
		margin-bottom: 2em;
	}
}

.one-container .inside-article > .featured-image {
	margin-top: 0;
	margin-bottom: 2em;
}
