.post-image:not(:first-child) {
	margin: 2em 0 0;
}

.page-header-image,
.page-header-image-single {
	line-height: 0; /* no more weird spacing */
}

.separate-containers {
	.page-header-image,
	.page-header-image-single {
		margin-top: $separating-space;
	}
}

.separate-containers .inside-article > [class*="page-header-"],
.one-container .inside-article > [class*="page-header-"] {
	margin-bottom: 2em;
	margin-top: 0;
}
