/*--------------------------------------------------------------
# Sidebars
--------------------------------------------------------------*/
.sidebar .grid-container {
	max-width: 100%;
	width: 100%;
}

.left-sidebar .sidebar,
.both-left #left-sidebar,
.both-sidebars #left-sidebar {
	order: -10;
}

.both-left #right-sidebar {
	order: -5;
}

.both-right #left-sidebar {
	order: 5;
}

.both-right #right-sidebar,
.both-sidebars #right-sidebar {
	order: 10;
}
