.widget_search .search-submit {
	display: none;
}

.widget {
	margin: 0 0 30px;
	box-sizing: border-box;
}

.widget:last-child,
.separate-containers .widget:last-child {
	margin-bottom: 0;
}

.sidebar .widget,
.footer-widgets .widget {
	font-size: 17px;
}

.widget ul li {
	list-style-type: none;
	position: relative;
	padding-bottom: 5px;
}

.widget_categories .children {
	margin-left: 1.5em;
	padding-top: 5px;
}

.widget_categories .children li:last-child {
	padding-bottom: 0;
}

.widget_nav_menu ul ul,
.widget_pages ul ul {
	margin-left: 1em;
	margin-top: 5px;
}

.widget ul li.menu-item-has-children,
.widget ul li.page_item_has_children {
	padding-bottom: 0;
}

#wp-calendar {
	table-layout: fixed;
	font-size: 80%;
}

#wp-calendar #prev,
#wp-calendar #prev + .pad {
	border-right: 0;
}

.sidebar .grid-container {
	max-width: 100%;
	width: 100%;
}
