.main-navigation {
	ul ul {
		display: block;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
		float: left;
		position: absolute;
		left: -99999px;
		opacity: 0;
		z-index: 99999;
		width: 200px;
		text-align: left;
		top: auto;
		transition: opacity 80ms linear;
		transition-delay: 0s;
		pointer-events: none;
		height: 0;
		overflow: hidden;

		a {
			display: block;
		}

		li {
			width: 100%;
		}
	}

	.main-nav {
		ul ul li a {
			line-height: normal;
			padding: 10px 20px;
			font-size: 14px;
		}
	}

	&.sub-menu-left .sub-menu {
		right: 0;
	}
}

.main-navigation {
	&:not(.toggled) {
		ul li:hover > ul,
		ul li.sfHover > ul {
			left: auto;
			opacity: 1;
			transition-delay: 150ms;
			pointer-events: auto;
			height: auto;
			overflow: visible;
		}

		ul ul li:hover > ul,
		ul ul li.sfHover > ul {
			left: 100%;
			top: 0;
		}
	}

	&.sub-menu-left:not(.toggled) ul ul li:hover > ul,
	&.sub-menu-left:not(.toggled) ul ul li.sfHover > ul {
		right: 100%;
		left: auto;
	}
}

.dropdown-click {
	.main-navigation {
		ul ul {
			display: none;
			visibility: hidden;

			ul.toggled-on {
				left: 0;
				top: auto;
				position: relative;
			}
		}

		ul.toggled-on,
		ul li.sfHover > ul.toggled-on {
			display: block;
			left: auto;
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			height: auto;
			overflow: visible;
		}
	}

	nav ul ul ul {
		background-color: transparent;
	}
}

.nav-float-right .main-navigation ul ul ul {
	top: 0
}
