.main-navigation {
	ul ul {
		display: block;
		box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
		float: left;
		position: absolute;
		opacity: 0;
		z-index: 99999;
		width: 200px;
		text-align: left;
		top: auto;
		transition: opacity 350ms ease 100ms, transform 0ms ease 1000ms;
		pointer-events: none;
		transform: scale(0);
		transform-origin: top left;

		ul {
			transition: opacity 350ms ease 100ms, transform 0ms ease 0ms;
		}

		a {
			display: block;
		}

		li {
			width: 100%;
		}
	}

	.main-nav {
		ul ul li a {
			line-height: normal;
			padding: 10px 20px;
			font-size: 14px;
		}

		ul li.menu-item-has-children > a {
			padding-right: 0;
			position: relative;
		}
	}

	&.sub-menu-left .sub-menu {
		right: 0;
	}
}

.main-navigation {
	&:not(.toggled) {
		ul li:hover > ul,
		ul li.sfHover > ul {
			opacity: 1;
			pointer-events: auto;
			transform: scale(1);
			transition: opacity 350ms ease 100ms, transform 0ms ease 0ms;
		}

		ul ul li:hover > ul,
		ul ul li.sfHover > ul {
			left: 100%;
			top: 0;
		}
	}

	&.sub-menu-left:not(.toggled) ul ul li:hover > ul,
	&.sub-menu-left:not(.toggled) ul ul li.sfHover > ul {
		right: 100%;
		left: auto;
	}
}

.nav-float-right .main-navigation ul ul ul {
	top: 0
}

.menu-item-has-children {
	.dropdown-menu-toggle {
		display: inline-block;
		height: 100%;
		clear: both;
		padding-right: 20px;
		padding-left: 10px;
	}

	ul .dropdown-menu-toggle {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: -10px;
	}
}

nav ul ul .menu-item-has-children .dropdown-menu-toggle,
.sidebar .menu-item-has-children .dropdown-menu-toggle {
	float: right;
}
