.main-navigation {
	z-index: 100;
	padding: 0;
	clear: both;
	display: block;

	a {
		display: block;
		text-decoration: none;
		font-weight: normal;
		text-transform: none;
		font-size: 15px;
	}

	button.dropdown-menu-toggle {
		font-size: 15px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.main-nav ul li a {
		padding-left: 20px;
		padding-right: 20px;
		line-height: 60px;
	}
}

.inside-navigation {
	position: relative;
}
