.main-navigation {
	z-index: 100;
	padding: 0;
	clear: both;
	display: block;
}

.inside-navigation {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	font-weight: normal;
	text-transform: none;
	font-size: 15px;
}

.main-navigation ul li a {
	display: block;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation .main-nav ul li a {
	padding-left: 20px;
	padding-right: 20px;
	line-height: 60px;
}
