.main-navigation {
	.main-nav > ul {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		position: relative;
	}

	ul li a {
		display: block;
	}

	&:not([class*="nav-align-"]) .menu-item-align-right {
		margin-left: auto;

		& + .menu-item-align-right {
			margin-left: 0;
		}
	}
}

.sidebar .main-navigation .main-nav > ul {
	flex-direction: column;
}

.nav-align-center {
	.main-nav > ul {
		justify-content: center;

		& > li.close-search {
			margin-left: auto;
			margin-right: 0;
		}
	}
}

.nav-align-right .main-nav > ul {
	justify-content: flex-end;
}
