.widget-area .main-navigation li {
	float: none;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

.sidebar .main-navigation {
	ul ul {
		transition: opacity 350ms ease 100ms, transform 0ms ease 0ms;
	}

	&.sub-menu-right ul li:hover ul,
	&.sub-menu-right ul li.sfHover ul {
		top: 0;
		left: 100%;
	}

	&.sub-menu-left ul li:hover ul,
	&.sub-menu-left ul li.sfHover ul {
		top: 0;
		right: 100%;
	}
}
