.widget-area .main-navigation li {
	float: none;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

.dropdown-hover {
	&.both-left .widget-area .inside-right-sidebar .main-navigation ul li:hover ul,
	&.both-left .widget-area .inside-right-sidebar .main-navigation ul li.sfHover ul,
	.widget-area .main-navigation ul li:hover ul,
	.widget-area .main-navigation ul li.sfHover > ul {
		top: 0;
		left: 100%;
	}

	&.both-right .widget-area .main-navigation ul li:hover ul,
	&.both-right .widget-area .main-navigation ul li.sfHover ul,
	.widget-area .inside-right-sidebar .main-navigation ul li:hover ul,
	.widget-area .inside-right-sidebar .main-navigation ul li.sfHover ul {
		right: 100%;
		left: auto;
	}
}

.dropdown-click .widget-area .main-navigation {
	ul ul {
		top: auto;
		position: absolute;
		float: none;
		width: 100%;
		left: -99999px;

		&.toggled-on {
			position: relative;
			left: 0;
			right: 0;
		}
	}
}
