.widget-area .main-navigation li {
	float: none;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

.sidebar .main-navigation {
	&.sub-menu-right ul ul,
	&.sub-menu-right ul ul {
		top: 0;
		left: 100%;
	}

	&.sub-menu-left ul ul,
	&.sub-menu-left ul ul {
		top: 0;
		right: 100%;
	}
}
