name: Build package

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Package name'
        default: 'generatepress'
        required: true

jobs:

  build-package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: 'npm'

      - name: NPM install
        run: npm install

      - name: NPM build
        run: npm run build

      - name: NPM grunt build
        run: npm run grunt build

      - name: Grunt action-package
        run: npm run action-package

      - name: Build zip file
        uses: actions/upload-artifact@v3.1.0
        with:
          name: ${{ github.event.inputs.name }}
          path: |
            package/
          retention-days: 1
