.generate-color-manager-dnd-list {
  	display: flex;
  	flex-wrap: wrap;
  	border: 1px dashed #959595;
  	padding: 10px 5px 5px;

  	.generate-color-manager-dnd-list-item {
	  	display: inline-block;
	  	height: 28px;
	  	width: 28px;
	  	vertical-align: top;
		cursor: grab;
	  	border-radius: 50%;
	  	margin: 0 5px 5px 0;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 1px;
			left: 1px;
			bottom: 1px;
			right: 1px;
			border-radius: 50%;
			z-index: -1;
			/* stylelint-disable-next-line function-url-quotes */
			background: url('data:image/svg+xml,%3Csvg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M6 8V6H4v2h2zM8 8V6h2v2H8zM10 16H8v-2h2v2zM12 16v-2h2v2h-2zM12 18v-2h-2v2H8v2h2v-2h2zM14 18v2h-2v-2h2zM16 18h-2v-2h2v2z" fill="%23555D65"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M18 18h2v-2h-2v-2h2v-2h-2v-2h2V8h-2v2h-2V8h-2v2h2v2h-2v2h2v2h2v2zm-2-4v-2h2v2h-2z" fill="%23555D65"/%3E%3Cpath d="M18 18v2h-2v-2h2z" fill="%23555D65"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M8 10V8H6v2H4v2h2v2H4v2h2v2H4v2h2v2H4v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2V8h-2V6h2V4h-2v2h-2V4h-2v2h-2V4h-2v2h-2V4h-2v2h2v2h-2v2H8zm0 2v-2H6v2h2zm2 0v-2h2v2h-2zm0 2v-2H8v2H6v2h2v2H6v2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2V8h-2V6h-2v2h-2V6h-2v2h-2v2h2v2h-2v2h-2z" fill="%23555D65"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M4 0H2v2H0v2h2v2H0v2h2v2H0v2h2v2H0v2h2v2H0v2h2v2H0v2h2v2H0v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2V8h-2V6h2V4h-2V2h2V0h-2v2h-2V0h-2v2h-2V0h-2v2h-2V0h-2v2h-2V0h-2v2H8V0H6v2H4V0zm0 4V2H2v2h2zm2 0V2h2v2H6zm0 2V4H4v2H2v2h2v2H2v2h2v2H2v2h2v2H2v2h2v2H2v2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2V8h-2V6h2V4h-2V2h-2v2h-2V2h-2v2h-2V2h-2v2h-2V2h-2v2H8v2H6z" fill="%23555D65"/%3E%3C/svg%3E');
		}

		span {
			width: 28px;
			height: 28px;
			display: block;
			border-radius: 50%;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: -1px;
				left: -1px;
				bottom: -1px;
				right: -1px;
				border-radius: 50%;
				box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
				border: 1px solid transparent;
			}

		}
	}
}

.generate-color-manager-wrapper {
    display: flex;
	flex-wrap: wrap;

	.generate-color-manager--item {
		position: relative;
		margin-right: 5px;
		margin-bottom: 5px;

		&:last-child {
			margin-right: 0;
		}

		.components-button.generate-color-manager--delete-color {
			position: absolute;
			top: -10px;
			right: -10px;
			height: auto;
			min-width: 0;
			padding: 2px;
			background: rgba(0,0,0,0.7);
			color: #fff;
			border-radius: 100%;
			opacity: 0;
			pointer-events: none;
			transition: opacity 500ms ease;

			svg {
				width: 15px;
				height: 15px;
				margin-right: 0 !important;
			}
		}

		&:hover {
			.components-button.generate-color-manager--delete-color {
				opacity: 1;
				pointer-events: auto;
			}
		}

		.components-button.generate-color-manager--delete-color:focus {
			opacity: 1;
			pointer-events: auto;
		}

		.components-circular-option-picker__option-wrapper {
			margin: 0;
		}

		.components-button.generate-color-manager--add-color {
			padding: 0;
			width: 28px;
			height: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			background: #fff;
			border: 1px solid #777;

			svg {
				width: 20px;
			}
		}
	}
}
